<h1>Resultado da busca por: <%= @search %></h1>
<div id="search_results">
<% if @recipes.empty? %>
  <p>Nenhuma receita encontrada</p>
<% else %>
  <%= render partial: 'shared/recipes', locals: {recipes: @recipes} %>
<% end %>
</div>
