<h1>Resultado da busca por: <%= @search %></h1>
<div id="search_results">
<% if @recipes.empty? %>
  <p>Nenhuma receita encontrada</p>
<% else %>
  <p><%= @recipes.count %> receitas encontradas</p>
  <%= render @recipes %>
<% end %>
</div>
<%= link_to 'Voltar', root_path %>
