<h1><%= @cuisine.name %></h1>
<% if @cuisine.recipes.empty? %>
  <p>Nenhuma receita encontrada para este tipo de cozinha</p>
<% else %>
  <%= render partial: 'shared/recipes', locals: {recipes: @cuisine.recipes} %>
<% end %>
<%= link_to 'Editar', edit_cuisine_path(@cuisine) %>
